{% load static %}

<link rel='stylesheet' type='text/css' href="{% static "blog/includes/post.css" %}">


<li>
    <article class="post">
        <a href="">
        <img src="{% static "blog/images/f1_car.png" %}" alt="Formula racing">
        <div class="post__content">
            <h3>Formula 1 racing</h3>
            <p>There's nothing like seeing the cars go around corners at more than 150kmph.
                And Formula 1 provides that exact scenario. Isn't it amazing.
            </p>
        </div>
        </a>
    </article>
</li>