{% extends "base.html" %}
{% load static %}


{% block page_title %} My Blog {% endblock %}

{% block css_files %}
    <link rel='stylesheet' href="{% static "blog/index.css" %}">
{% endblock %}

{% block content %}

    <section id="welcome">
        <header>
            <img src="{% static "blog/images/arjun.jpg" %}" alt="Arjun - The Author of the Blog">
            <h2>Arjun Paudyal's Blog</h2>
        </header>
        <p>Hi, I am Arjun Paudyal and I like to write about random things.</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Posts</h2>
        <ul>
            {% include "blog/includes/post.html" %}
        </ul>
    </section>

    <section id="about">
        <h2>What I Do</h2>
        <p>
            I am still trying to figure out my life. What I write here is just random things.
        </p>
        <p>
            I will try to write interesting things and keep you entertained.
        </p>


    </section>
    
{% endblock %}
